/* header部分的样式*/

.logo{
	padding-top:20px;
	align-items: center;
	display: flex;
}

.logo img{
	width: 70px;
	height: 60px;
	padding-left: 10px;
}

.logo span{
	font-size: 25px;
	color:#2db7f5;
	padding-left: 5px;
}

.search{
	padding-top: 40px;
	padding-left: 10px;
	width: 300px;
}

.index_menu{
	padding-top:  25px;
	font-size: 15px;
}

/* affix 部分样式 */

.affix{
	float:right;
	padding-top:300px;
}

/* sidebar 部分样式 */

.sidebar{
	width: 240px;
}

.sidebar .signature{
	padding-left: 30px;
	font-size: 13px;
}

.sidebar .menu{
	padding-top:30px;
}

/* container 部分样式 */

.article_div{
		padding-top: 50px;
		padding-left: 50px;
}

.article_card{
		width: 1100px;
}

/* 页脚部分样式 */

.footer{
	text-align: center;
}

.footer div{
	font-size: 13px;
	padding-top: 40px;
	padding-bottom: 20px;
}
